<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>askTechForum</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <description></description>
    <display-name>ServletCadastroUsuario</display-name>
    <servlet-name>ServletCadastroUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletCadastroUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletCadastroUsuario</servlet-name>
    <url-pattern>/ServletCadastroUsuario</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletPesquisaUsuario</display-name>
    <servlet-name>ServletPesquisaUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletPesquisaUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletPesquisaUsuario</servlet-name>
    <url-pattern>/ServletPesquisaUsuario</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <description></description>
    <display-name>ServletAlteracaoUsuario</display-name>
    <servlet-name>ServletAlteracaoUsuario</servlet-name>
    <servlet-class>asktechforum.controller.ServletAlteracaoUsuario</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ServletAlteracaoUsuario</servlet-name>
    <url-pattern>/ServletAlteracaoUsuario</url-pattern>
  </servlet-mapping>
</web-app>